Repository gipo355/monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: root, Documentation, Gradle, Actions

feat: test
  commitlint.config.cjs
  package.json
Labels: root

WIP eslint ignore all
  eslint.config.js
Labels: root

WIP add auth lib
  libs/test-nest-auth-lib/README.md
  libs/test-nest-auth-lib/eslint.config.js
  libs/test-nest-auth-lib/jest.config.ts
  libs/test-nest-auth-lib/package.json
  libs/test-nest-auth-lib/project.json
  libs/test-nest-auth-lib/src/index.ts
  libs/test-nest-auth-lib/src/lib/test-nest-auth-lib.module.ts
  libs/test-nest-auth-lib/tsconfig.json
  libs/test-nest-auth-lib/tsconfig.lib.json
  libs/test-nest-auth-lib/tsconfig.spec.json
  tsconfig.base.json
Labels: root

WIP add auth module lib
  libs/test-nest-auth-lib/package.json
  libs/test-nest-auth-lib/src/auth/auth.controller.spec.ts
  libs/test-nest-auth-lib/src/auth/auth.controller.ts
  libs/test-nest-auth-lib/src/auth/auth.module.ts
  libs/test-nest-auth-lib/src/auth/auth.service.spec.ts
  libs/test-nest-auth-lib/src/auth/auth.service.ts
  libs/test-nest-auth-lib/src/auth/dto/create-auth.dto.ts
  libs/test-nest-auth-lib/src/auth/dto/update-auth.dto.ts
  libs/test-nest-auth-lib/src/auth/entities/auth.entity.ts
  libs/test-nest-auth-lib/src/index.ts
  libs/test-nest-auth-lib/src/lib/test-nest-auth-lib.module.ts
  libs/test-nest-auth-lib/src/lib/test-nest-auth-lib.service.ts
  pnpm-lock.yaml
Labels: root

WIP add createjwt
  libs/test-nest-auth-lib/src/auth/auth.service.ts
Labels: none

WIP add changeset nestjs
  .changeset/blue-plums-cheer.md
Labels: none

WIP fix nest lib
  .changeset/itchy-seahorses-swim.md
  libs/test-nest-auth-lib/project.json
Labels: none

WIP add git
  .changeset/config.json
Labels: none

WIP change release name
  .github/workflows/changeset-pr.yml
Labels: Actions

WIP add cmds to project.json
  packages/example-node-lib/project.json
Labels: none

WIP publishconfig
  libs/test-nest-auth-lib/package.json
Labels: none

WIP changeset
  .changeset/fluffy-trainers-confess.md
Labels: none

WIP fix publish config url
  .changeset/fluffy-meals-lie.md
  libs/test-nest-auth-lib/package.json
Labels: none

WIP changeset
  .changeset/mighty-phones-bow.md
Labels: none

WIP fix publish md
  package.json
Labels: root

WIP fix double register controller
  .changeset/sour-adults-whisper.md
  libs/test-nest-auth-lib/src/auth/auth.module.ts
  libs/test-nest-auth-lib/src/lib/test-nest-auth-lib.module.ts
Labels: none

feat: test nest lib fix for external import
  .changeset/great-dragons-chew.md
  libs/test-nest-auth-lib/package.json
  libs/test-nest-auth-lib/project.json
  libs/test-nest-auth-lib/src/index.ts
  libs/test-nest-auth-lib/src/lib/test-nest-auth-lib.module.ts
  libs/test-nest-auth-lib/src/lib/test-nest-auth-lib.service.ts
  libs/test-nest-auth-lib/tsconfig.lib.json
  package.json
Labels: root

WIP fix, to tsx package.json
  package.json
Labels: root

WIP remove test lib
  libs/test-nest-auth-lib/CHANGELOG.md
  libs/test-nest-auth-lib/README.md
  libs/test-nest-auth-lib/eslint.config.js
  libs/test-nest-auth-lib/jest.config.ts
  libs/test-nest-auth-lib/package.json
  libs/test-nest-auth-lib/project.json
  libs/test-nest-auth-lib/src/auth/auth.controller.spec.ts
  libs/test-nest-auth-lib/src/auth/auth.controller.ts
  libs/test-nest-auth-lib/src/auth/auth.module.ts
  libs/test-nest-auth-lib/src/auth/auth.service.spec.ts
  libs/test-nest-auth-lib/src/auth/auth.service.ts
  libs/test-nest-auth-lib/src/auth/dto/create-auth.dto.ts
  libs/test-nest-auth-lib/src/auth/dto/update-auth.dto.ts
  libs/test-nest-auth-lib/src/auth/entities/auth.entity.ts
  libs/test-nest-auth-lib/src/index.ts
  libs/test-nest-auth-lib/src/lib/test-nest-auth-lib.module.ts
  libs/test-nest-auth-lib/tsconfig.json
  libs/test-nest-auth-lib/tsconfig.lib.json
  libs/test-nest-auth-lib/tsconfig.spec.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: root

WIP fix problem
  packages/example-node-lib/project.json
Labels: none

fix: lockfile
  pnpm-lock.yaml
Labels: root

fix: upgrade @sentry/angular-ivy from 7.114.0 to 7.115.0
  package.json
Labels: root

WIP add g js lib taskfile
  Taskfile.yaml
Labels: root

fix: upgrade @sentry/angular-ivy from 7.114.0 to 7.116.0
  package.json
Labels: root

fix: upgrade @sentry/angular-ivy from 7.114.0 to 7.116.0
  package.json
Labels: root

fix: upgrade @sentry/angular-ivy from 7.114.0 to 7.116.0
  package.json
Labels: root

chore: add nx/worksace-data to gitignre
  .gitignore
Labels: root

fix: upgrade @sentry/angular-ivy from 7.114.0 to 7.116.0
  package.json
Labels: root

chore: update lockfile
  pnpm-lock.yaml
Labels: root

feat: initialize nest utils
  Taskfile.yaml
  Taskfile.yml
  nx.json
  package.json
  packages/nest-utils/.swcrc
  packages/nest-utils/README.md
  packages/nest-utils/eslint.config.js
  packages/nest-utils/jest.config.ts
  packages/nest-utils/package.json
  packages/nest-utils/project.json
  packages/nest-utils/rollup.config.js
  packages/nest-utils/src/index.ts
  packages/nest-utils/src/lib/nest-utils.spec.ts
  packages/nest-utils/src/lib/nest-utils.ts
  packages/nest-utils/tsconfig.json
  packages/nest-utils/tsconfig.lib.json
  packages/nest-utils/tsconfig.spec.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: root

chore: prepare config files for nest-utils
  packages/nest-utils/eslint.config.js
  packages/nest-utils/lint-staged.config.js
  packages/nest-utils/package.json
  packages/nest-utils/project.json
  packages/nest-utils/tsconfig.eslint.json
Labels: none

chore: lib ready to publish
  package.json
  packages/nest-utils/README.md
  packages/nest-utils/project.json
  packages/nest-utils/rollup.config.js
Labels: root

feat: add nest-utils response dto
  .changeset/two-moose-brush.md
  packages/nest-utils/src/lib/dtos/response.dto.ts
Labels: none

ci: add lint build test on main push
  .github/workflows/lint-build-test.yml
Labels: Actions

ci: remove if from release workflow
  .github/workflows/changeset-pr.yml
Labels: Actions

fix: provide type exports, fix assets included in nest-utils
  .changeset/light-poets-occur.md
  packages/nest-utils/rollup.config.js
  packages/nest-utils/src/index.ts
  packages/nest-utils/src/lib/dtos/index.ts
Labels: none

docs: add docs to nest-utils response.dto
  .changeset/three-drinks-complain.md
  packages/nest-utils/src/lib/dtos/response.dto.ts
Labels: none

docs: add docs to nestutils response dto
  .changeset/tender-cougars-divide.md
  packages/nest-utils/src/lib/dtos/response.dto.ts
Labels: none

feat: update response dto
  .changeset/chilled-parrots-complain.md
  packages/nest-utils/src/lib/dtos/response.dto.ts
Labels: none

feat: up to pnpm 9
  .mise.toml
  package.json
  pnpm-lock.yaml
Labels: root

.github/labeler.yml:

# https://github.com/actions/labeler
# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
  - changed-files:
      - any-glob-to-any-file: "*"
# Add 'AnyChange' label to any changes within the entire repository
# AnyChange:
#   - changed-files:
#       - any-glob-to-any-file: "**"
# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
Documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**
# Add Gradle label to any changes within 'gradle' folder or any subfolders
Gradle:
  - changed-files:
      - any-glob-to-any-file: [gradle/**, build.gradle]
# Add Actions label to any changes within '.github/workflows' folder or any subfolders
Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
# Add 'Documentation' label to any file changes within 'docs' folder
# Documentation:
#   - changed-files:
#       - any-glob-to-any-file: docs/*
# Add 'Documentation' label to any file changes within 'docs' or 'guides' folders
# Documentation:
#   - changed-files:
#       - any-glob-to-any-file:
#           - docs/*
#           - guides/*
## Equivalent of the above mentioned configuration using another syntax
# Documentation:
#   - changed-files:
#       - any-glob-to-any-file: ['docs/*', 'guides/*']
# Add 'Documentation' label to any change to .md files within the entire repository
# Documentation:
#   - changed-files:
#       - any-glob-to-any-file: '**/*.md'
# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
  - all:
      - changed-files:
          - any-glob-to-any-file: "src/main/**/*"
          - all-globs-to-all-files: "!src/docs/*"
tests:
  - all:
      - changed-files:
          - any-glob-to-any-file: "src/test/**/*"
          - all-globs-to-all-files: "!src/docs/*"
# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ["^feature", "feature"]
# add 'issue' label when a branch starts with number-
issue:
  - head-branch: ["^[0-9]", "issue"]
# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: "main"
